<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                        <a class="navbar-brand" href="#">ADMIN PANEL</a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
            </div>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex pt-2 mx-5">
                    <input class="form-control me-2" onkeyup="search()" id="Search" style="width: 20rem;" type="search" placeholder="Search" aria-label="Search">
                    
                </form>   
                 <a class="btn btn-primary mt-2 mx-2 ms-5" href="/adminaction/createuser" style="width: 10rem; height:2.5rem" type="submit">Create new user</a>
                 <a class="btn btn-danger  mt-2 "     href="/admin/destroy" style="width: 8rem; height:2.5rem" type="submit">Log Out</a>   
            </div>
        </nav>
        <table class="table" id="adminTable" >
            <thead>
                <tr >
                <th scope="col">No</th>
                <th scope="col">User Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Permission</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
                <tbody >
                    {{#each userDetails}}
                        <tr class="align-middle" id>
                            <th scope="row">1</th>
                            <td>{{this.firstName}}</td>
                            <td>{{this.email}}</td>
                            {{#if this.status}}
                            <td>Granted</td>
                            {{else}}
                            <td>Denied</td>
                            {{/if}}
                            <td>
                                <a class="btn btn-success mt-2 " href="/adminaction/usermodify/{{this._id}}" onclick="return confirm('click Ok to confirm Modify {{this.firstName}}')" type="submit">Modify</a>
                                {{#if this.status}}
                                <a class="btn btn-warning mt-2 " style="width: 5.5rem;" href="/adminaction/block/{{this._id}}" onclick="return confirm('click Ok to confirm Block {{this.firstName}}')" type="submit">Block</a>
                                {{else}}
                                <a class="btn btn-warning mt-2 " style="width: 5.5rem;" href="/adminaction/unblock/{{this._id}}" onclick="return confirm('click Ok to confirm Unblock {{this.firstName}}')" type="submit">Unblock</a>
                                {{/if}}
                                <a class="btn btn-danger mt-2 "  href="/adminaction/delete/{{this._id}}" onclick="return confirm('click Ok to confirm Delete {{this.firstName}}')" type="submit">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
        </table>
    </div>
</div>